<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css"/>
    <script type="module" src="https://pyscript.net/alpha/pyscript.js"></script>
    <script>
        // Redirect to the desired URL when the page loads
        window.onload = function () {
            window.location.href = "https://app.powerbi.com/reportEmbed?reportId=5ee8c17c-be4b-423f-9945-d39b24c9c8a3&autoAuth=true&ctid=4451b433-6541-406e-842f-843279608c78";
        };
    </script>
</head>
<body>
<!-- <p>Dashboard<a href="https://app.powerbi.com/reportEmbed?reportId=5874e2fc-a479-4249-853c-75c1dbf628dd&autoAuth=true&ctid=4451b433-6541-406e-842f-843279608c78" target="_blank">here</a></p> -->
</body>
</html> 
